/* 清除原始样式，也可以使用"*"替换下面的"body,img,ul,li" */
body,img,ul,li{
    padding: 0px;
    margin: 0px;
}
#header{
    width: 100%;
    height: 40px;
    /*border: 1px solid red;*/
    border-bottom: 1px solid #cccccc;
}
.header{
    width: 1200px;
    height: 40px;
    border: 1px solid red;
    /* 设置一个模块的margin为auto，意思是让该模块在父模块中居中 */
    margin: 0px auto;
}
.header_left{
    width: 400px;
    height: 40px;
    border: 1px solid green;
    float: left;
}
.header_right{
    width: 400px;
    height: 40px;
    border: 1px solid #000000;
    float: right;
}
/*header   style   end*/
/*logo  style   start*/
#logo{
    width: 1200px;
    height: 120px;
    border: 1px solid red;
    margin: 10px auto;
}
.logo_left{
    width: 300px;
    height: 120px;
    border: 1px solid pink;
    float: left;
}
.logo_right{
    width: 400px;
    height: 120px;
    border: 1px solid purple;
    float: right;
}
/*logo  style   end*/
/*nav  style   start*/
#nav{
    width: 1200px;
    height: 45px;
    border: 1px solid rosybrown;
    margin: 0px auto;
}
.nav_left{
    width: 300px;
    height: 45px;
    border: 1px solid royalblue;
    float: left;
}
.nav_center{
    width: 700px;
    height: 45px;
    border: 1px solid red;
    float: left;
}
.nav_right{
    width: 150px;
    height: 45px;
    border: 1px solid aquamarine;
    float: right;
}
/*nav  style   end*/
/*banner  style   start*/
#banner{
    width: 100%;
    height: 516px;
    background: #F4F4F4;
    position: relative;
    /*border: 1px solid rosybrown;*/
    /*margin: 0px auto;*/
}
#p_content{
    width: 1200px;
    height: 516px;
    border: 1px solid red;
    position: absolute;
    top: 0px;
    /*css计算属性*/
    left: calc(50% - 1200px / 2);
}
.banner_nav{
    width: 240px;
    height: 516px;
    border: 1px solid red;
    float: left;
}
.banner_right{
    width: 950px;
    height: 516px;
    border: 1px solid red;
    float: right;
}
.banner_login{
    width: 950px;
    height: 398px;
    border: 1px solid #000;
}
.banner_bottom{
    width: 950px;
    height: 114px;
    border: 1px solid blue;
}
.banner_bottom>div{
    float: left;
    width: 220px;
    height: 114px;
    border: 1px solid darkgreen;
    margin-left: 15px;
}

/*banner  style   end*/



